doctype html
html(lang="pt-br")

	// head
	// -----------------------------------------
	head
		// head requests
		include ./includes/head-requests.jade
		
		// SEO
		meta(name="keywords" content="")
		meta(name="description" content="Santos Portugueses 2016")
		meta(name="robots" content="index,follow")
		meta(name="copyright" content="Santos Portugueses © 2016 Todos Direitos Reservados")
		meta(name="author" content="Tuut")
		title Festa Santos Portugueses - 2016

	body
		// header
		// -----------------------------------------
		//- include ./includes/header.jade

		// banner
		// -----------------------------------------
		include ./includes/banner.jade

		// content
		// -----------------------------------------
		
		div.row1
			div.content-row		
				main.row
					div.content 
						h1.titulo 
							|Um festival multicultural que unirá <br> passado e presente
						p A Festa dos Santos Populares Portugueses vai trazer a cultura portuguesa tradicional e contemporânea para as ruas do Rio de Janeiro. <br> <br>
							|Atrair a população carioca para conhecer a origem de suas tradições. <br>
							|Festejar com alegria as delicias de Portugal.
		div.video
			div.row
				iframe(width="80%" height="720" src="https://www.youtube.com/embed/PQiHFNI6e64" frameborder="0" allowfullscreen)

		// footer
		// -----------------------------------------
		include ./includes/footer.jade

		// bottom requests
		// -----------------------------------------
		include ./includes/bottom-requests.jade
