.banner2
	width: 100%;
	background: transparent;
	display: block;
	height: 260px;
	border-left: 50vw solid #ed283c;
	border-right: 50vw solid #ed283c;
	border-bottom: 259px solid transparent;
	margin-bottom: -260px;
	position: relative;

.banner
	width 100%
	position: relative;
	background: #ed283c

.flexslider
	width: 100%
	overflow hidden

.flexslider img
	max-width: 100%
	height: auto;


.flex-direction-nav a:before
	color slider-controler
