// footer
// -----------------------------------------
.rodape
	width: 100%;
	background: transparent;
	display: block;
	height: 280px;
	border-left: 50vw solid #fff;
	border-right: 50vw solid #fff;
	border-top: 259px solid transparent;
	margin-top: -260px;
	position: relative;



.logo-container
	col(12)
	vertical-align(middle)
	justify(right)
	display flex

.logo-container img
	max-width: 100%;
	width: 100%
	height: auto;
	margin 0 auto
	display: block;
	position: relative;
	z-index: 999999999;

@media screen and (max-width 635px)
	.logo-container
		col(12)
		justify(center)
		padding 7px
