@charset "UTF-8"

// base
// -----------------------------------------
@import "base/normalize"
@import "base/flex-grid-framework"

// configs
// -----------------------------------------
cor-principal = #fab729
slider-controler = transparent

// layout
// -----------------------------------------
@import "layout/header"
@import "layout/banner"
@import "layout/footer"
// @import "layout/form"

/* entypo */
[class*="entypo-"]:before
	font-family: 'entypo', sans-serif;
	font-size 24px
	font-weight 300


.row iframe
	display block
	margin 0 auto
	margin-top 10em
	margin-bottom 10em

.flex-direction-nav .flex-prev
	opacity: 0
	display: none
.flex-direction-nav .flex-next
	opacity: 0
	display: none

// global
// -----------------------------------------
body
	font-family: 'Droid Serif', serif;
	background transparent
	color #000

.row
	row()

.row1
	width: 100%
	background url('../img/bg.jpg')
	background-size: cover
	background-repeat: no-repeat;
	background-position: fixed;
	background-attachment: fixed;

.content-row
	background-color: rgba(35, 59, 61, 0.48)
	width: 100%;
	height: 100%




// div, section, article, footer, nav, header, main
// 	border 1px dashed #4ecb29

// index
// -----------------------------------------


.content
	col(10)
	offset(1)
	text-align center
	padding 30px 0
.content img
	display block
	max-width 100%
	height auto
.content h1
	color #ffdd00


.content p
	color #fff
	line-height 38px
	display: block;
	col(12)
	font-size: 28px
	margin 0 auto
	font-weight 300
	margin-top 2em
	margin-bottom: 10em
.content h2
	color #fff


.titulo
	font-size 48px
	color #ffdd00
	font-weight 900
	text-align center
	display block
	margin 0 auto
	padding-top 6em


.video
	background: #44b85c
	width: 100%
	height: 100%
	padding-bottom: 15em


@media screen and (max-width 635px)
	.content
		col(12)
