// banner
// -----------------------------------------
div.banner 
	div.flexslider
		ul.slides
			li
				img(src="assets/img/02.jpg")
			li
				img(src="assets/img/01.jpg")
			li
				img(src="assets/img/03.jpg")
div.banner2

		
			//- li
			//- 	img(src="assets/img/01.jpg")
			//- 
			//- li
			//- 	img(src="assets/img/01.jpg")
				
			//- li
			//- 	img(src="assets/img/banner-4.jpg")
