script(src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type = "text/javascript")
script(src = "assets/scripts/jquery-1.10.2.min.js" type = "text/javascript")
script(src = "assets/scripts/jquery.flexslider.js" type = "text/javascript")
script(src = "assets/scripts/scripts.min.js" type = "text/javascript" async)
