// header
// -----------------------------------------
div(class="topo animated slow fadeInDown")
	div.row
		div.logo-container
			a(href="#topo")
				img(src="assets/img/logo.svg")
		nav.menu
			ul
				//- li
				//- 	a(href="#topo").hvr-bounce-to-top
				//- 		|HOME
				//- li
				//- 	a(href="#agenda").hvr-bounce-to-top
				//- 		|AGENDA
				li
					a(href="#fotos").hvr-bounce-to-top
						|MIDIAS
				//- li
				//- 	a(href="#videos").hvr-bounce-to-top
				//- 		|VIDEOS
						
				li
					a(href="#musicas").hvr-bounce-to-top
						|MÚSICAS
						
				li
					a(href="#contratantes").hvr-bounce-to-top
						|CONTRATANTES 
						
				//- li
				//- 	a(href="#contratantes").hvr-bounce-to-top
				//- 		|CONTATO
						
				li.face
					a(href="https://www.facebook.com/marciogofficial" target="blank").entypo-facebook-circled

				li.insta
					a(href="https://soundcloud.com/user-817528248" target="blank").entypo-soundcloud

				li.video
					a(href="https://www.youtube.com/channel/UCPVv-pfWfhptwvvnqWvZ7lg" target="blank").entypo-video
