// metas
meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
meta(charset="utf-8")

// favicons
<!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
link(rel="icon" href="assets/img/icons/favicon-16.png" sizes="16x16") 
link(rel="icon" href="assets/img/icons/favicon-32.png" sizes="32x32")
link(rel="apple-touch-icon" href="assets/img/icons/apple-touch-icon-144x144.png" sizes="144x144")
link(rel="apple-touch-icon" href="assets/img/icons/apple-touch-icon-114x114.png" sizes="114x114")
link(rel="apple-touch-icon" href="assets/img/icons/apple-touch-icon-72x72.png" sizes="72x72")
link(rel="apple-touch-icon" href="assets/img/icons/apple-touch-icon.png")

// CSS
link(rel="stylesheet" href="assets/styles/flexslider.css")
link(rel="stylesheet" href="assets/styles/style.min.css")
link(rel="stylesheet" type="text/css" href="assets/styles/fresco.css")
link(rel="stylesheet" href="http://weloveiconfonts.com/api/?family=entypo")

// fonts
link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700italic,700,400italic' rel='stylesheet' type='text/css')
